@import "src/styles/variables";

.button {
  &__primary {
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 16px 32px;
    &:hover:not(:disabled) {
      filter: brightness(1.1);
    }
    &:disabled {
      opacity: 0.7;
      cursor: unset;
    }
    &_small {
      padding: 3px 6px;
      font-size: 14px;
    }
    &_medium {
      padding: 6px 12px;
      font-size: 16px;
    }
    &_large {
      padding: 16px 32px;
      font-size: 20px;
    }
    &_default {
      background-color: $mainblue;
    }
    &_success {
      background-color: $maingreen;
    }
    &_error {
      background-color: $mainred;
    }
  }
}
