@import "@/styles/variables";

.main__domain {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name {
    font-size: 32px;
    font-weight: 600;
    color: $mainred;
  }

  &__subitems {
    border: 1px solid $bordercolor;
    border-radius: 3px;
    min-height: 120px;
    display: grid;
  }

  &_available {
    .main__domain__name {
      color: $maingreen;
    }
  }

  &__show {
    flex: 0 0 100%;

    &_link {
      color: $mainblue;
      display: flex;
      margin: 16px 0 32px 0;
      cursor: pointer;
      align-items: center;
      line-height: 24px;

      svg {
        fill: $mainblue;
        margin-left: 4px;
      }

      &_opened {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
