$mainback: #0d1117;
$mainblue: #2684FF;
$hoverblue: #307bdc;
$maingray: #30363c;
$columnback: #1b222d;
$mainorange: #e68300;
$mainyellow: #f7d241;
$bordercolor: #58616a;
$textgray: #979ea5;
$mainred: #e5534b;
$maingreen: #28a745;
$darkgray: #21262c;
$main-font: "Inter", sans-serif;
